vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage-PWS32/3.0.2.1330
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|09 Nov 2023 08:23:45 +0100
vti_copytimestamp_http\://maks-f8cb989348/copy_of_maks-f8cb989348:TR|09 Nov 2023 09:03:34 +0100
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|frontpage
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1330
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|windows-1250
vti_missingoverlays:VX|
vti_themedefault:SR|global 101
vti_missingoverlaylabels:VX|
vti_welcomenames:VX|index.htm
vti_defaultlanguage:SR|pl
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_borderdefault:SR|tl
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
vti_title:SR|downgen
